node-red/flows-30-01-2021.json
[{"id":"fce385a2.eac158","type":"tab","label":"PM","disabled":false,"info":""},{"id":"26b815c8.86deda","type":"tab","label":"Temp and Alarm","disabled":false,"info":""},{"id":"12014706.9fb8b9","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"89b9e377.59ea08","type":"modbus-client","name":"MB3280_MOXA2_PORT1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"192.168.111.13","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM1","serialType":"ASCII","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"1","clientTimeout":"10000","reconnectOnTimeout":true,"reconnectTimeout":"1000","parallelUnitIdsAllowed":true},{"id":"626122f2.cdbb8c","type":"websocket-client","path":"ws://localhost:1880/ws/pm","tls":"","wholemsg":"false"},{"id":"cbf3e933.cf51e8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"scada_skf","tz":"","charset":""},{"id":"5a5f061e.e45558","type":"websocket-listener","path":"/ws/pm","wholemsg":"false"},{"id":"919147aa.b50e58","type":"websocket-client","path":"ws://localhost:1880/ws/temp","tls":"","wholemsg":"false"},{"id":"96884092.5f7b9","type":"websocket-listener","path":"/ws/temp","wholemsg":"false"},{"id":"b91637d8.f0dd88","type":"websocket-listener","path":"/ws/temp_alarm","wholemsg":"false"},{"id":"cc07832a.6881d","type":"websocket-client","path":"ws://localhost:1880/ws/temp_alarm","tls":"","wholemsg":"false"},{"id":"7931e703.a221f8","type":"websocket-listener","path":"/ws/fire_alarm","wholemsg":"false"},{"id":"45e39965.27c818","type":"websocket-client","path":"ws://localhost:1880/ws/fire_alarm","tls":"","wholemsg":"false"},{"id":"16779113.a68937","type":"modbus-client","name":"MB3280_MOXA2_PORT2","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.111.14","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"51","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b600ea9f.4a1ec8","type":"FINS Connection","name":"OMRON","host":"192.168.111.1","port":"9600","MODE":"CSCJ","ICF":"128","DNA":"0","DA1":"0","DA2":"0","SNA":"0","SA1":"3","SA2":"0"},{"id":"ec49536a.50f5b","type":"FINS Connection","name":"OMRON2","host":"192.168.111.1","port":"9600","MODE":"CSCJ","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":""},{"id":"518e9625.3b661","type":"modbus-client","name":"MB3180_MOXA1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"192.168.111.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"bf8447c3.072258","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\naa = msg.toFloat(v[19], v[18])\nab = msg.toFloat(v[21], v[20])\nac = msg.toFloat(v[23], v[22])\n// msg.payload.aavg = (((v[84] +  v[85] + v[86]) * 0.001 )/ 3).toFixed(1)\nmsg.payload.aavg = ((aa + ab + ac)/3).toFixed(1)\n// msg.payload.vrn = (v[78] * 0.1).toFixed(1)\n// msg.payload.vsn = (v[79] * 0.1).toFixed(1)\n// msg.payload.vtn = (v[80] * 0.1).toFixed(1)\nmsg.payload.vrn = (msg.toFloat(v[7], v[6])).toFixed(1)\nmsg.payload.vsn = (msg.toFloat(v[9], v[8])).toFixed(1)\nmsg.payload.vtn = (msg.toFloat(v[11], v[10])).toFixed(1)\n// msg.payload.pf = (v[102] * 0.001).toFixed(2)\n// msg.payload.kw = Math.floor(v[90] / 1000)\n// msg.payload.kva = Math.floor(v[94] / 1000)\n// msg.payload.kvar = Math.floor(v[98] / 1000)\nmsg.payload.pf = (msg.toFloat(v[55], v[54])).toFixed(2)\nmsg.payload.kw = (msg.toFloat(v[31], v[30])).toFixed(0)\nmsg.payload.kva = (msg.toFloat(v[47], v[46])).toFixed(0)\nmsg.payload.kvar =(msg.toFloat(v[39], v[38])).toFixed(0)\n// msg.payload.thdi = (((v[583] +  v[584] + v[585]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.thdv = (((v[580] +  v[581] + v[582]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.kwh = (v[107] * 65536) + v[106]\nmsg.payload.kwh = (msg.toFloat(v[59], v[58])).toFixed(0)\nmsg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["aed22563.c1efa8","64e91699.61a7d8","3d05b2e0.865d66"]]},{"id":"46301d69.c1c374","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":160,"wires":[]},{"id":"595a5742.8387e8","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["53a1e196.7d284","3971f2a7.851fee"]]},{"id":"aed22563.c1efa8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":200,"wires":[]},{"id":"55115eb7.b0954","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":200,"wires":[["bf8447c3.072258","46301d69.c1c374"]]},{"id":"4f8e5c28.e585a4","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_1')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_1');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["55115eb7.b0954"]]},{"id":"fa0e6dc1.28b59","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":120,"wires":[["4f8e5c28.e585a4"]]},{"id":"3971f2a7.851fee","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kwh, kw, kvar) values\n('${datetime}', '${v.kwh}', '${v.kw}', '${v.kvar}')\non duplicate key update\n    kwh = '${v.kwh}',\n    kw = '${v.kw}',\n    kvar = '${v.kvar}'\n`\nflow.set('timestamp_'+msg.modul+'_1',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["811e0f65.6497e","95b06ad6.ee8d78"]]},{"id":"811e0f65.6497e","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":360,"wires":[["1857c741.587559"]]},{"id":"1857c741.587559","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":360,"wires":[]},{"id":"53a1e196.7d284","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":280,"wires":[]},{"id":"95b06ad6.ee8d78","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":320,"wires":[]},{"id":"64e91699.61a7d8","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":240,"wires":[]},{"id":"23cf7f77.5301f","type":"modbus-read","z":"26b815c8.86deda","name":"Mb Temp PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"51","dataType":"InputRegister","adr":"1000","quantity":"0002","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"16779113.a68937","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":80,"wires":[["142d54db.f016fb","abc0ea7f.5cf4a8"],[]]},{"id":"142d54db.f016fb","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":40,"wires":[]},{"id":"30f4060e.fb789a","type":"jquerify","z":"26b815c8.86deda","name":"parsing tags","func":"msg.modul = msg.topic\nmsg.payload = {}\n// if(msg.topic == 'pp1'){\n    msg.payload[msg.topic] = ((msg.value[0]) / 10).toFixed(1)\n// } else  {\n//     msg.payload[msg.topic] = msg.value[0]\n// }\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["5a8d55ff.09256c","3148672b.5fcc58","54c9e546.2bde9c","297756b.73dfdaa"]]},{"id":"94f4b960.c6fee8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":160,"wires":[]},{"id":"3148672b.5fcc58","type":"jquerify","z":"26b815c8.86deda","name":"get temp_limit","func":"v = msg.payload\nmsg.topic = `\nselect \n    case when ${v[msg.modul]} > ${msg.modul} then true else false end ${msg.modul}\nfrom\n    temp_limit\nlimit 1\n`\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["efd7f3ce.a799c","ae43444a.ed8348"]]},{"id":"5a8d55ff.09256c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"3d8e76ad.59549a","type":"moment","z":"26b815c8.86deda","name":"timestamp_temp","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"timestamp_temp","outputType":"msg","outTz":"Asia/Jakarta","x":130,"y":200,"wires":[["c7e31e51.f3f2b","94f4b960.c6fee8"]]},{"id":"44fe6975.d606a8","type":"jquerify","z":"26b815c8.86deda","name":"context","func":"msg.modul = msg.topic\nmsg.coeff = 1000 * 60 * 5;\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_temp_'+msg.modul)){\n   msg.deadband = msg.timestamp - flow.get('timestamp_temp_'+msg.modul);\n} else {\n    msg.deadband = (msg.coeff) + 1;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["3d8e76ad.59549a"]]},{"id":"abc0ea7f.5cf4a8","type":"jquerify","z":"26b815c8.86deda","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":120,"wires":[["44fe6975.d606a8"]]},{"id":"c7e31e51.f3f2b","type":"rbe","z":"26b815c8.86deda","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":200,"wires":[["30f4060e.fb789a"]]},{"id":"4a54524d.a4cc2c","type":"websocket in","z":"26b815c8.86deda","name":"","server":"","client":"919147aa.b50e58","x":170,"y":420,"wires":[["1df90f21.7e12d1"]]},{"id":"1df90f21.7e12d1","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":380,"wires":[]},{"id":"ae43444a.ed8348","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":330,"y":320,"wires":[["a6df0b3d.309df8","50094fd5.7d1a1"]]},{"id":"a6df0b3d.309df8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":360,"wires":[]},{"id":"efd7f3ce.a799c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":520,"y":320,"wires":[]},{"id":"54c9e546.2bde9c","type":"websocket out","z":"26b815c8.86deda","name":"","server":"96884092.5f7b9","client":"","x":540,"y":240,"wires":[]},{"id":"50094fd5.7d1a1","type":"websocket out","z":"26b815c8.86deda","name":"","server":"b91637d8.f0dd88","client":"","x":560,"y":360,"wires":[]},{"id":"297756b.73dfdaa","type":"switch","z":"26b815c8.86deda","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"300000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":280,"wires":[["2da5a1c3.660c16"]]},{"id":"3b97f981.3798d6","type":"websocket in","z":"26b815c8.86deda","name":"","server":"","client":"cc07832a.6881d","x":190,"y":500,"wires":[["72459980.117c38"]]},{"id":"72459980.117c38","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":460,"wires":[]},{"id":"4ef263.eac67d9c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":580,"wires":[]},{"id":"45e5ea2c.5c0cf4","type":"jquerify","z":"26b815c8.86deda","name":"parsing tags","func":"v = msg.binary\nmsg.payload = {};\nmsg.payload.pp1 = v[0] === undefined ? 0 : v[0]\nmsg.payload.pp2 = v[1] === undefined ? 0 : v[1]\nmsg.payload.sdp = v[2] === undefined ? 0 : v[2]\nmsg.payload.cap1 = v[3] === undefined ? 0 : v[3]\nmsg.payload.cap2 = v[4] === undefined ? 0 : v[4]\nmsg.payload.evacuate = v[5] === undefined ? 0 : v[5]\nmsg.payload.gas_disc = v[6] === undefined ? 0 : v[6]\n// msg.alarm = ['pp1', 'pp2', 'sdp', ]\nmsg.keytag = Object.keys(msg.payload)\nmsg.alarm = []\n$(msg.keytag).each(function( i, v ) {\n    (msg.alarm).push({k:v, v:msg.payload[v]})\n})\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["58fc53af.1920dc","3be018e.4affbe8","d1c45292.15071"]]},{"id":"f231176f.422aa8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":700,"wires":[]},{"id":"d2cc1eb4.2cd7f","type":"jquerify","z":"26b815c8.86deda","name":"check db first","func":"msg.topic = `\nselect count(id) as 'check'\nfrom alarm\nwhere \n    modul = '${msg.payload.k}'\n    and\n    datetime_start is not null\n    and\n    datetime_end is null\n`\nmsg.alarm = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":860,"wires":[["8765ca7b.0fbd78"]]},{"id":"58fc53af.1920dc","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":740,"wires":[]},{"id":"866d5a19.3436b8","type":"moment","z":"26b815c8.86deda","name":"now_formatted","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"timestamp_temp","outputType":"msg","outTz":"Asia/Jakarta","x":140,"y":740,"wires":[["3bfbfc5c.66d964","f231176f.422aa8"]]},{"id":"a764a6f4.441ba8","type":"jquerify","z":"26b815c8.86deda","name":"context","func":"msg.coeff = 1000 * 60 * 5;\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_temp')){\n   msg.deadband = msg.timestamp - flow.get('timestamp_temp');\n} else {\n    msg.deadband = (msg.coeff) + 1;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":700,"wires":[["866d5a19.3436b8"]]},{"id":"b14e3b20.de6088","type":"jquerify","z":"26b815c8.86deda","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.binary = (msg.fins.response.values[0] >>> 0).toString(2).split(\"\").reverse()\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":660,"wires":[["a764a6f4.441ba8"]]},{"id":"3bfbfc5c.66d964","type":"rbe","z":"26b815c8.86deda","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":740,"wires":[["45e5ea2c.5c0cf4"]]},{"id":"786943bb.c3f58c","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nchangeTrigger = Math.floor((msg.timestamp/10000) % 3);\nmsg.payload = {};\nmsg.payload.pp1 = changeTrigger === 0;\nmsg.payload.pp2 = changeTrigger === 0;\nmsg.payload.sdp = changeTrigger === 0;\nmsg.payload.cap_bank_1 = changeTrigger == 1;\nmsg.payload.cap_bank_2 = changeTrigger == 1;\nmsg.payload.evacuate = changeTrigger == 2;\nmsg.payload.gas_disc = changeTrigger == 2;\n// msg.alarm = ['pp1', 'pp2', 'sdp', ]\nmsg.keytag = Object.keys(msg.payload)\nmsg.alarm = []\n$(msg.keytag).each(function( i, v ) {\n    (msg.alarm).push({k:v, v:msg.payload[v]})\n})\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":660,"wires":[["5f9047f5.da20b8","a764a6f4.441ba8"]]},{"id":"dd658e7c.6051b","type":"inject","z":"26b815c8.86deda","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":620,"wires":[["786943bb.c3f58c"]]},{"id":"5f9047f5.da20b8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":620,"wires":[]},{"id":"9a897a31.5f5c28","type":"comment","z":"26b815c8.86deda","name":"remove in prod","info":"","x":360,"y":760,"wires":[]},{"id":"3be018e.4affbe8","type":"websocket out","z":"26b815c8.86deda","name":"","server":"7931e703.a221f8","client":"","x":570,"y":780,"wires":[]},{"id":"3e7af32f.4a245c","type":"websocket in","z":"26b815c8.86deda","name":"","server":"","client":"45e39965.27c818","x":190,"y":960,"wires":[["6e1a6f02.a8be3"]]},{"id":"6e1a6f02.a8be3","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":920,"wires":[]},{"id":"abd19216.5a2c8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":820,"wires":[]},{"id":"6d664c9d.f04fb4","type":"switch","z":"26b815c8.86deda","name":"","property":"payload.v","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":860,"wires":[["d2cc1eb4.2cd7f","abd19216.5a2c8"],["b49ed5f3.ab5608"]]},{"id":"342a2f40.982c6","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.v","targetType":"msg","x":320,"y":860,"wires":[]},{"id":"8765ca7b.0fbd78","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":760,"y":900,"wires":[["bb0c0826.aa69e8","48840bd4.7df1e4"]]},{"id":"bb0c0826.aa69e8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"alarm","targetType":"msg","x":950,"y":900,"wires":[]},{"id":"b49ed5f3.ab5608","type":"jquerify","z":"26b815c8.86deda","name":"check db first","func":"msg.topic = `\nselect count(id) as 'check'\nfrom alarm\nwhere \n    modul = '${msg.payload.k}'\n    and\n    datetime_start is not null\n    and\n    datetime_end is null\n`\nmsg.alarm = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":900,"wires":[["e68a746f.a64878"]]},{"id":"e68a746f.a64878","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":560,"y":940,"wires":[["4a22e797.196478","e7eae1f1.71ab7","54de4692.28fdb8"]]},{"id":"4a22e797.196478","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].check","targetType":"msg","x":820,"y":980,"wires":[]},{"id":"54de4692.28fdb8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":940,"wires":[]},{"id":"e7eae1f1.71ab7","type":"switch","z":"26b815c8.86deda","name":"","property":"payload[0].check","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":980,"wires":[["a4567c83.5247d"],[]]},{"id":"48840bd4.7df1e4","type":"switch","z":"26b815c8.86deda","name":"","property":"payload[0].check","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":940,"wires":[["be2a7c50.29782"],["d0e215be.9e88d8"]]},{"id":"6dd2818d.eb759","type":"jquerify","z":"26b815c8.86deda","name":"set context","func":"flow.set(msg.alarm.k, (new Date()).getTime())\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1020,"wires":[["6a476ec1.28501"]]},{"id":"6a476ec1.28501","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1060,"wires":[]},{"id":"2b0ae148.f2d8ce","type":"jquerify","z":"26b815c8.86deda","name":"update datetime_end","func":"msg.topic = `\nupdate alarm\nset\n    datetime_end = '${msg.datetime_end}'\nwhere\n    modul = '${msg.alarm.k}'\n    and\n    datetime_start is not null\n    and\n    datetime_end is null\n`\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1100,"wires":[["627d3e85.b5cb7","77e483f0.449a7c"]]},{"id":"951c9ae4.66ed78","type":"moment","z":"26b815c8.86deda","name":"context_formatted","topic":"","input":"timestamp_end","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"datetime_end","outputType":"msg","outTz":"Asia/Jakarta","x":830,"y":1060,"wires":[["62cb2261.aaf76c","2b0ae148.f2d8ce"]]},{"id":"62cb2261.aaf76c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":1100,"wires":[]},{"id":"a4567c83.5247d","type":"jquerify","z":"26b815c8.86deda","name":"parsing datetime_end","func":"msg.timestamp_end = flow.get(msg.alarm.k)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1020,"wires":[["951c9ae4.66ed78"]]},{"id":"627d3e85.b5cb7","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":1140,"wires":[]},{"id":"77e483f0.449a7c","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":860,"y":1140,"wires":[[]]},{"id":"be2a7c50.29782","type":"jquerify","z":"26b815c8.86deda","name":"set context","func":"flow.set(msg.alarm.k, (new Date()).getTime())\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[["92f5924e.fe71f"]]},{"id":"92f5924e.fe71f","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":900,"wires":[]},{"id":"d0e215be.9e88d8","type":"jquerify","z":"26b815c8.86deda","name":"parsing datetime_end","func":"msg.timestamp_start = new Date()\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":980,"wires":[["7de05778.11af88"]]},{"id":"7de05778.11af88","type":"moment","z":"26b815c8.86deda","name":"context_formatted","topic":"","input":"timestamp_start","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"datetime_start","outputType":"msg","outTz":"Asia/Jakarta","x":1150,"y":1020,"wires":[["7934f735.a59718"]]},{"id":"7934f735.a59718","type":"jquerify","z":"26b815c8.86deda","name":"insert modul","func":"msg.topic = `\ninsert into alarm \n    (modul, datetime_start)\nvalues\n    (\n        '${msg.alarm.k}',\n        '${msg.datetime_start}'\n    )\n`\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1060,"wires":[["f8daf0fd.956f2"]]},{"id":"f8daf0fd.956f2","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":1180,"y":1100,"wires":[[]]},{"id":"d1c45292.15071","type":"bigsplitter","z":"26b815c8.86deda","name":"","property":"alarm","x":340,"y":820,"wires":[["342a2f40.982c6","6d664c9d.f04fb4"],[]]},{"id":"a108ba70.fca518","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":40,"wires":[]},{"id":"993d2de2.71d1c8","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n// msg.payload.aavg = (((v[84] +  v[85] + v[86]) * 0.001 )/ 3).toFixed(1)\n// msg.payload.vrn = (v[78] * 0.1).toFixed(1)\n// msg.payload.vsn = (v[79] * 0.1).toFixed(1)\n// msg.payload.vtn = (v[80] * 0.1).toFixed(1)\n// msg.payload.pf = (v[102] * 0.001).toFixed(2)\n// msg.payload.kw = Math.floor(v[90] / 1000)\n// msg.payload.kva = Math.floor(v[94] / 1000)\n// msg.payload.kvar = Math.floor(v[98] / 1000)\nmsg.payload.thdi = (((v[3] +  v[4] + v[5]) * 0.01 )/ 3).toFixed(2)\nmsg.payload.thdv = (((v[0] +  v[1] + v[2]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.kwh = (v[106] * 65536) + v[107]\nmsg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["76c37680.afcee8","ca785f4c.af58a","d1bb6a54.4cbfa"]]},{"id":"61b0f082.6c8fd8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":540,"wires":[]},{"id":"94ea0cab.d53df","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":660,"wires":[["42236e57.4cabd8","5a41686d.8e7518"]]},{"id":"76c37680.afcee8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":580,"wires":[]},{"id":"f8510e49.917ae","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":500,"wires":[["a7f2faa7.eb937"]]},{"id":"5a41686d.8e7518","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n    (datetime, thdi, thdv) values\n    ('${datetime}', '${v.thdi}', '${v.thdv}')\non duplicate key update\n    thdi = '${v.thdi}',\n    thdv = '${v.thdv}'\n`\nflow.set('timestamp_'+msg.modul+'_2',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":700,"wires":[["de66b43f.af77b8","ee05a42a.e019b8"]]},{"id":"de66b43f.af77b8","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":740,"wires":[["bee80a2e.49c72"]]},{"id":"bee80a2e.49c72","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":740,"wires":[]},{"id":"42236e57.4cabd8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":660,"wires":[]},{"id":"ee05a42a.e019b8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":700,"wires":[]},{"id":"ca785f4c.af58a","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":620,"wires":[]},{"id":"e7ccf587.97bea8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":420,"wires":[]},{"id":"2da5a1c3.660c16","type":"jquerify","z":"26b815c8.86deda","name":"insert temp","func":"var datetime = msg.timestamp_temp\nvar v = msg.payload\nmsg.topic = `\ninsert into temp\n(datetime, ${msg.modul}) values\n('${datetime}', '${v[msg.modul]}')\nON DUPLICATE KEY UPDATE\n${msg.modul} = '${v[msg.modul]}'\n`\nflow.set('timestamp_temp_'+msg.modul, (new Date(datetime)).getTime())\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["6262856c.afeafc","e7d06220.0bbd98"]]},{"id":"6cc78815.4da348","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":360,"wires":[]},{"id":"6262856c.afeafc","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":760,"y":320,"wires":[["6cc78815.4da348"]]},{"id":"e7d06220.0bbd98","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":280,"wires":[]},{"id":"c6458d7a.0e23e","type":"modbus-read","z":"fce385a2.eac158","name":"COMP1","topic":"comp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"17","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":80,"wires":[["fa0e6dc1.28b59","a108ba70.fca518"],[]]},{"id":"20455c0f.b6f3cc","type":"modbus-read","z":"fce385a2.eac158","name":"COMP1","topic":"comp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"17","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":270,"y":460,"wires":[["f8510e49.917ae"],[]]},{"id":"d9550577.2dde2","type":"modbus-read","z":"fce385a2.eac158","name":"COMP2","topic":"comp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"12","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":460,"wires":[["f8510e49.917ae"],[]]},{"id":"badbf923.08bcc8","type":"modbus-read","z":"fce385a2.eac158","name":"COMP2","topic":"comp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"12","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":80,"wires":[["fa0e6dc1.28b59"],[]]},{"id":"a443c27.55d0fc","type":"modbus-read","z":"fce385a2.eac158","name":"COMP3","topic":"comp3","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"13","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":590,"y":460,"wires":[["f8510e49.917ae"],[]]},{"id":"6648dc40.2e13bc","type":"modbus-read","z":"fce385a2.eac158","name":"COMP3","topic":"comp3","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"13","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":570,"y":80,"wires":[["fa0e6dc1.28b59","30f82cca.15b9f4"],[]]},{"id":"7a952c.70a5bad4","type":"modbus-read","z":"fce385a2.eac158","name":"COMP4","topic":"comp4","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"14","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":750,"y":460,"wires":[["f8510e49.917ae"],[]]},{"id":"2826cebb.93e742","type":"modbus-read","z":"fce385a2.eac158","name":"COMP4","topic":"comp4","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"14","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":730,"y":80,"wires":[["fa0e6dc1.28b59"],[]]},{"id":"1e7e253d.504d53","type":"modbus-read","z":"26b815c8.86deda","name":"Mb Temp PP1","topic":"pp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"52","dataType":"InputRegister","adr":"1000","quantity":"0002","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"16779113.a68937","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":310,"y":80,"wires":[["5bd73efc.6319b8","abc0ea7f.5cf4a8"],[]]},{"id":"887b45bf.a145e","type":"modbus-read","z":"26b815c8.86deda","name":"Mb Temp SDP","topic":"sdp","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"53","dataType":"InputRegister","adr":"1000","quantity":"0002","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"16779113.a68937","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":510,"y":80,"wires":[["ccf3edba.062bc","abc0ea7f.5cf4a8"],[]]},{"id":"a93a7107.12fd88","type":"modbus-read","z":"26b815c8.86deda","name":"Mb Temp Cap Bank 1","topic":"cap1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"54","dataType":"InputRegister","adr":"1000","quantity":"0007","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"16779113.a68937","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":740,"y":80,"wires":[["36745e46.4b71b2","abc0ea7f.5cf4a8"],[]]},{"id":"1f4da21c.fcafae","type":"modbus-read","z":"26b815c8.86deda","name":"Mb Temp Cap Bank 2","topic":"cap2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"55","dataType":"InputRegister","adr":"1000","quantity":"0002","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"16779113.a68937","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":1000,"y":80,"wires":[["d1dcc0b0.3af768","abc0ea7f.5cf4a8"],[]]},{"id":"c3c59217.cacf88","type":"modbus-read","z":"fce385a2.eac158","name":"COMP8","topic":"comp8","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"20","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":750,"y":120,"wires":[["fa0e6dc1.28b59"],[]]},{"id":"88cefd80.f0b","type":"modbus-read","z":"fce385a2.eac158","name":"COMP7","topic":"comp7","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"19","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":610,"y":120,"wires":[["fa0e6dc1.28b59"],[]]},{"id":"d2b0906c.53bd38","type":"modbus-read","z":"fce385a2.eac158","name":"COMP6","topic":"comp6","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"11","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":470,"y":120,"wires":[["fa0e6dc1.28b59"],[]]},{"id":"a079def.b007f2","type":"modbus-read","z":"fce385a2.eac158","name":"COMP5","topic":"comp5","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"18","dataType":"InputRegister","adr":"0","quantity":"60","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":330,"y":120,"wires":[["fa0e6dc1.28b59"],[]]},{"id":"9b56edb6.5c3e68","type":"modbus-read","z":"fce385a2.eac158","name":"COMP6","topic":"comp6","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"11","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":490,"y":500,"wires":[["f8510e49.917ae"],[]]},{"id":"3224ef05.5f8878","type":"modbus-read","z":"fce385a2.eac158","name":"COMP7","topic":"comp7","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"19","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":650,"y":500,"wires":[["f8510e49.917ae"],[]]},{"id":"d8ce6891.1b99f8","type":"modbus-read","z":"fce385a2.eac158","name":"COMP5","topic":"comp5","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"18","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":330,"y":500,"wires":[["f8510e49.917ae"],[]]},{"id":"2310f6f6.0aec02","type":"modbus-read","z":"fce385a2.eac158","name":"COMP8","topic":"comp8","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"20","dataType":"InputRegister","adr":"580","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":810,"y":500,"wires":[["f8510e49.917ae"],[]]},{"id":"17e199f.0af5ee6","type":"debug","z":"12014706.9fb8b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"binary","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"e425bdc5.0a8e38","type":"inject","z":"12014706.9fb8b9","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["8937cfb2.62edc"]]},{"id":"5bd73efc.6319b8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":40,"wires":[]},{"id":"ccf3edba.062bc","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":40,"wires":[]},{"id":"36745e46.4b71b2","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":40,"wires":[]},{"id":"d1dcc0b0.3af768","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":40,"wires":[]},{"id":"2180d407.12207c","type":"FINS Read","z":"26b815c8.86deda","name":"","connection":"b600ea9f.4a1ec8","addressType":"str","address":"W0","countType":"num","count":"1","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"list","outputFormat":"buffer","x":150,"y":620,"wires":[["4ef263.eac67d9c","b14e3b20.de6088"]]},{"id":"999a48d8.327658","type":"inject","z":"26b815c8.86deda","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":580,"wires":[["2180d407.12207c"]]},{"id":"a8c614e5.b32898","type":"modbus-read","z":"fce385a2.eac158","d":true,"name":"PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"11","dataType":"HoldingRegister","adr":"3000","quantity":"90","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":90,"y":900,"wires":[["5833039b.c2d604"],[]]},{"id":"bf1a270d.b7bd8","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\nmsg.payload.aavg = (msg.toFloat(v[7],v[6])).toFixed(1)\nmsg.payload.vrn = (msg.toFloat(v[29],v[28])).toFixed(1)\nmsg.payload.vsn = (msg.toFloat(v[31],v[30])).toFixed(1)\nmsg.payload.vtn = (msg.toFloat(v[33],v[32])).toFixed(1)\nmsg.payload.pf = (msg.toFloat(v[83],v[82])).toFixed(2)\nmsg.payload.kw = (msg.toFloat(v[59],v[58])).toFixed(1)\nmsg.payload.kva = (msg.toFloat(v[75],v[74])).toFixed(1)\nmsg.payload.kvar = (msg.toFloat(v[67],v[66])).toFixed(1)\n// msg.payload.thdi = (((v[583] +  v[584] + v[585]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.thdv = (((v[580] +  v[581] + v[582]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.kwh = (v[106] * 65536) + v[107]\nmsg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1020,"wires":[["34464b5b.0f5b0c","207e587.8972ba8","b02bd187.60bdd"]]},{"id":"2261e4b2.cb3fc4","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":980,"wires":[]},{"id":"dadf09ef.620938","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1100,"wires":[["9c8c2c44.7f8b38","a8032d5.a0029d"]]},{"id":"34464b5b.0f5b0c","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1020,"wires":[]},{"id":"3908f7b3.425f","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":940,"wires":[["d590b21d.c59798"]]},{"id":"a8032d5.a0029d","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kw, kvar) values\n('${datetime}', '${v.kw}', '${v.kvar}')\non duplicate key update\n    kw = '${v.kw}',\n    kvar = '${v.kvar}'\n`\nflow.set('timestamp_'+msg.modul+'_1',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1140,"wires":[["e5124556.5fa09","be1c0fd9.667bb8"]]},{"id":"e5124556.5fa09","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":1180,"wires":[["4e3a58e2.cd8c6"]]},{"id":"4e3a58e2.cd8c6","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1180,"wires":[]},{"id":"9c8c2c44.7f8b38","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1100,"wires":[]},{"id":"be1c0fd9.667bb8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1140,"wires":[]},{"id":"207e587.8972ba8","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":1060,"wires":[]},{"id":"5833039b.c2d604","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":860,"wires":[]},{"id":"b474fc34.abf27","type":"modbus-read","z":"fce385a2.eac158","name":"CT","topic":"ct","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"15","dataType":"HoldingRegister","adr":"2999","quantity":"90","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":900,"wires":[["12c8da0a.f4b8a6","3908f7b3.425f"],[]]},{"id":"f74e23ef.8a0ca8","type":"modbus-read","z":"fce385a2.eac158","name":"PP1","topic":"pp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"16","dataType":"HoldingRegister","adr":"2999","quantity":"90","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":570,"y":900,"wires":[["3908f7b3.425f","22ebd430.234074"],[]]},{"id":"12c8da0a.f4b8a6","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":860,"wires":[]},{"id":"87f9fe6.34515","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":860,"wires":[]},{"id":"22ebd430.234074","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":860,"wires":[]},{"id":"de168921.fbdf68","type":"modbus-read","z":"fce385a2.eac158","d":true,"name":"PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"11","dataType":"HoldingRegister","adr":"3204","quantity":"4","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":90,"y":1300,"wires":[["825110b5.2d12c"],[]]},{"id":"d08a6fa9.6e3278","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n// msg.payload.aavg = (msg.toFloat(v[10],v[11])).toFixed(1)\n// msg.payload.vrn = (msg.toFloat(v[28],v[29])).toFixed(1)\n// msg.payload.vsn = (msg.toFloat(v[30],v[31])).toFixed(1)\n// msg.payload.vtn = (msg.toFloat(v[32],v[33])).toFixed(1)\n// msg.payload.pf = (msg.toFloat(v[84],v[85])).toFixed(1)\n// msg.payload.kw = (msg.toFloat(v[60],v[61])).toFixed(1)\n// msg.payload.kva = (msg.toFloat(v[76],v[77])).toFixed(1)\n// msg.payload.kvar = (msg.toFloat(v[68],v[69])).toFixed(1)\n// msg.payload.thdi = (((v[583] +  v[584] + v[585]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.thdv = (((v[580] +  v[581] + v[582]) * 0.01 )/ 3).toFixed(2)\nmsg.payload.kwh = ((v[3] + (v[2] * 65535) + (v[1] * 65535 * 65535) + (v[0] * 65535 * 65535 * 65535))/1000).toFixed(0)\n// msg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1420,"wires":[["74491e64.6e5c4","76602337.3c3fec","9183f4d.4d1c708"]]},{"id":"84ea43e2.439f","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":1380,"wires":[]},{"id":"756ce0d.112cd2","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1500,"wires":[["1a0cf200.6d42ee","7b99d24e.0c501c"]]},{"id":"74491e64.6e5c4","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1420,"wires":[]},{"id":"3d98c813.25e3f","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1340,"wires":[["b3620df7.6a11f"]]},{"id":"7b99d24e.0c501c","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kwh) values\n('${datetime}', '${v.kwh}')\non duplicate key update\n    kwh = '${v.kwh}'\n`\nflow.set('timestamp_'+msg.modul+'_2',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1540,"wires":[["b177f57e.55f55","90d6c933.38e3e"]]},{"id":"b177f57e.55f55","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":1580,"wires":[["db3d708.fb2a39"]]},{"id":"db3d708.fb2a39","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1580,"wires":[]},{"id":"1a0cf200.6d42ee","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1500,"wires":[]},{"id":"90d6c933.38e3e","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1540,"wires":[]},{"id":"76602337.3c3fec","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":1460,"wires":[]},{"id":"825110b5.2d12c","type":"debug","z":"fce385a2.eac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":1260,"wires":[]},{"id":"71f0b12b.ba0048","type":"modbus-read","z":"fce385a2.eac158","name":"CT","topic":"ct","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"15","dataType":"HoldingRegister","adr":"3203","quantity":"4","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1300,"wires":[["ebcfc03b.e12a38","3d98c813.25e3f"],[]]},{"id":"95bfa227.8268e8","type":"modbus-read","z":"fce385a2.eac158","name":"PP1","topic":"pp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"16","dataType":"HoldingRegister","adr":"3203","quantity":"4","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":570,"y":1300,"wires":[["6ba11445.d4d0f4","3d98c813.25e3f"],[]]},{"id":"2dff0e7c.213722","type":"modbus-read","z":"fce385a2.eac158","name":"SDP","topic":"sdp","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"21","dataType":"HoldingRegister","adr":"3203","quantity":"4","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":1300,"wires":[["79605a3c.dbcc24","3d98c813.25e3f"],[]]},{"id":"ebcfc03b.e12a38","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":1260,"wires":[]},{"id":"79605a3c.dbcc24","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":1260,"wires":[]},{"id":"6ba11445.d4d0f4","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1260,"wires":[]},{"id":"bf22a386.ce23d8","type":"modbus-read","z":"fce385a2.eac158","d":true,"name":"PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"11","dataType":"HoldingRegister","adr":"21298","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":90,"y":1700,"wires":[["35a2f482.4fcbf4"],[]]},{"id":"6a52cb47.22fbec","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n// msg.payload.aavg = (msg.toFloat(v[10],v[11])).toFixed(1)\n// msg.payload.vrn = (msg.toFloat(v[28],v[29])).toFixed(1)\n// msg.payload.vsn = (msg.toFloat(v[30],v[31])).toFixed(1)\n// msg.payload.vtn = (msg.toFloat(v[32],v[33])).toFixed(1)\n// msg.payload.pf = (msg.toFloat(v[84],v[85])).toFixed(1)\n// msg.payload.kw = (msg.toFloat(v[60],v[61])).toFixed(1)\n// msg.payload.kva = (msg.toFloat(v[76],v[77])).toFixed(1)\n// msg.payload.kvar = (msg.toFloat(v[68],v[69])).toFixed(1)\nthda = msg.toFloat(v[1],v[0])\nthdb = msg.toFloat(v[3],v[2])\nthdc = msg.toFloat(v[5],v[4])\nthdd = msg.toFloat(v[7],v[6])\n// // thda = msg.toFloat(v[0],v[1])\n// // thdb = msg.toFloat(v[2],v[3])\n// // thdc = msg.toFloat(v[4],v[5])\n// msg.liat = [thda, thdb, thdc, thdd]\n// msg.liat = [msg.toFloat(v[1],v[0])]\n// msg.payload.thdi = ((thda+thdb+thdc)/3).toFixed(2)\nmsg.payload.thdi = (thdd/100).toFixed(2)\n// msg.payload.thdv = (((v[580] +  v[581] + v[582]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.kwh = ((v[3] + (v[2] * 65535) + (v[1] * 65535 * 65535) + (v[0] * 65535 * 65535 * 65535))/1000).toFixed(0)\n// msg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1820,"wires":[["4d3c0d1e.588eec","dd9dacd9.aef7e8","d6153ff5.e8eec8","45d9c08e.53fe28"]]},{"id":"d108eafc.9b4a1","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":1780,"wires":[]},{"id":"9f70464c.367e38","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1900,"wires":[["e6c00cb8.8d448","a88d723f.863018"]]},{"id":"4d3c0d1e.588eec","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1820,"wires":[]},{"id":"f30725bf.fddef","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1740,"wires":[["529c7592.eb0f9c"]]},{"id":"a88d723f.863018","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, thdi) values\n('${datetime}', '${v.thdi}')\non duplicate key update\n    thdi = '${v.thdi}'\n`\nflow.set('timestamp_'+msg.modul+'_3',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1940,"wires":[["ccd5a79e.ea693","e1730472.d45b2"]]},{"id":"ccd5a79e.ea693","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":1980,"wires":[["81fe7766.24f038"]]},{"id":"81fe7766.24f038","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1980,"wires":[]},{"id":"e6c00cb8.8d448","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1900,"wires":[]},{"id":"e1730472.d45b2","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1940,"wires":[]},{"id":"dd9dacd9.aef7e8","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":1860,"wires":[]},{"id":"35a2f482.4fcbf4","type":"debug","z":"fce385a2.eac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":1660,"wires":[]},{"id":"d395fa75.7ca78","type":"modbus-read","z":"fce385a2.eac158","name":"CT","topic":"ct","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"15","dataType":"HoldingRegister","adr":"21299","quantity":"8","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":1700,"wires":[["4312614c.a1a","f30725bf.fddef"],[]]},{"id":"de5c3799.43fe18","type":"modbus-read","z":"fce385a2.eac158","name":"PP1","topic":"pp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"16","dataType":"HoldingRegister","adr":"21299","quantity":"8","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":570,"y":1700,"wires":[["d84ab5.7a054548","f30725bf.fddef"],[]]},{"id":"cfd817b2.a615c","type":"modbus-read","z":"fce385a2.eac158","name":"SDP","topic":"sdp","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"21","dataType":"HoldingRegister","adr":"21299","quantity":"8","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":1700,"wires":[["1c3375fe.a6e89a","f30725bf.fddef"],[]]},{"id":"4312614c.a1a","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":1660,"wires":[]},{"id":"1c3375fe.a6e89a","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1660,"wires":[]},{"id":"d84ab5.7a054548","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1660,"wires":[]},{"id":"45d041db.588b88","type":"modbus-read","z":"fce385a2.eac158","d":true,"name":"PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"11","dataType":"HoldingRegister","adr":"21328","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":90,"y":2100,"wires":[["da4c62a9.a345c8"],[]]},{"id":"ee655ffc.99b7","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n// msg.payload.aavg = (msg.toFloat(v[10],v[11])).toFixed(1)\n// msg.payload.vrn = (msg.toFloat(v[28],v[29])).toFixed(1)\n// msg.payload.vsn = (msg.toFloat(v[30],v[31])).toFixed(1)\n// msg.payload.vtn = (msg.toFloat(v[32],v[33])).toFixed(1)\n// msg.payload.pf = (msg.toFloat(v[84],v[85])).toFixed(1)\n// msg.payload.kw = (msg.toFloat(v[60],v[61])).toFixed(1)\n// msg.payload.kva = (msg.toFloat(v[76],v[77])).toFixed(1)\n// msg.payload.kvar = (msg.toFloat(v[68],v[69])).toFixed(1)\n// msg.payload.thdi = (((v[583] +  v[584] + v[585]) * 0.01 )/ 3).toFixed(2)\nthda = msg.toFloat(v[1],v[0])\nthdb = msg.toFloat(v[3],v[2])\nthdc = msg.toFloat(v[5],v[4])\nmsg.liat = [thda, thdb, thdc]\nmsg.payload.thdv = ((thda+thdb+thdc)/3).toFixed(2)\n// msg.payload.kwh = ((v[3] + (v[2] * 65535) + (v[1] * 65535 * 65535) + (v[0] * 65535 * 65535 * 65535))/1000).toFixed(0)\n// msg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":2220,"wires":[["38836b5e.cdf3c4","2cee014.b8ebb7e","ce5d42f4.072b18","1d4a1756.617449"]]},{"id":"d8decd52.fa4b68","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":2180,"wires":[]},{"id":"eaaac723.410bf","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2300,"wires":[["6b3495cb.789c04","488998d5.feab78"]]},{"id":"38836b5e.cdf3c4","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":2220,"wires":[]},{"id":"1eeaeded.49f242","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":2140,"wires":[["11ab4968.f7baef"]]},{"id":"488998d5.feab78","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, thdv) values\n('${datetime}', '${v.thdv}')\non duplicate key update\n    thdv = '${v.thdv}'\n`\nflow.set('timestamp_'+msg.modul+'_4',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2340,"wires":[["99c17688.841cd8","6ef40574.2c74bc"]]},{"id":"99c17688.841cd8","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":2380,"wires":[["b98f3f77.f514e8"]]},{"id":"b98f3f77.f514e8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":2380,"wires":[]},{"id":"6b3495cb.789c04","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":2300,"wires":[]},{"id":"6ef40574.2c74bc","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":2340,"wires":[]},{"id":"2cee014.b8ebb7e","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":2260,"wires":[]},{"id":"da4c62a9.a345c8","type":"debug","z":"fce385a2.eac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":2060,"wires":[]},{"id":"e1a2ce78.7ce128","type":"modbus-read","z":"fce385a2.eac158","name":"CT","topic":"ct","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"15","dataType":"HoldingRegister","adr":"21329","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":2100,"wires":[["475f4dfa.6d66cc","1eeaeded.49f242"],[]]},{"id":"73787f74.4d25a8","type":"modbus-read","z":"fce385a2.eac158","name":"PP1","topic":"pp1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"16","dataType":"HoldingRegister","adr":"21329","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":570,"y":2100,"wires":[["477880cb.1b3458","1eeaeded.49f242"],[]]},{"id":"4fb1bfc9.fc4cf","type":"modbus-read","z":"fce385a2.eac158","name":"SDP","topic":"sdp","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"21","dataType":"HoldingRegister","adr":"21329","quantity":"6","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":2100,"wires":[["9ab11f13.81748","1eeaeded.49f242"],[]]},{"id":"475f4dfa.6d66cc","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":2060,"wires":[]},{"id":"9ab11f13.81748","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":2060,"wires":[]},{"id":"477880cb.1b3458","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":2060,"wires":[]},{"id":"ce5d42f4.072b18","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"liat","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":2180,"wires":[]},{"id":"d6153ff5.e8eec8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"liat","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1780,"wires":[]},{"id":"8937cfb2.62edc","type":"FINS Read","z":"12014706.9fb8b9","name":"","connection":"b600ea9f.4a1ec8","addressType":"str","address":"W0","countType":"num","count":"1","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"list","outputFormat":"buffer","x":270,"y":80,"wires":[["bf101d8a.20516","f1e37e4e.fb1bf"]]},{"id":"bf101d8a.20516","type":"jquerify","z":"12014706.9fb8b9","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.binary = (msg.fins.response.values[0] >>> 0).toString(2).split(\"\").reverse()\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["17e199f.0af5ee6"]]},{"id":"f1e37e4e.fb1bf","type":"debug","z":"12014706.9fb8b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"fins.response","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"b1e844f7.876fa8","type":"modbus-read","z":"fce385a2.eac158","name":"SDP","topic":"sdp","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"21","dataType":"HoldingRegister","adr":"2999","quantity":"90","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":900,"wires":[["87f9fe6.34515","3908f7b3.425f"],[]]},{"id":"555baf6.db62b5","type":"modbus-read","z":"fce385a2.eac158","name":"PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"10","dataType":"InputRegister","adr":"0","quantity":"34","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"518e9625.3b661","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":750,"y":900,"wires":[["787b7cfb.44187c","ba68086d.d322b"],[]]},{"id":"787b7cfb.44187c","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":860,"wires":[]},{"id":"a7f2faa7.eb937","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_2')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_2');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":540,"wires":[["a6608c05.16aec8"]]},{"id":"a6608c05.16aec8","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":580,"wires":[["993d2de2.71d1c8","61b0f082.6c8fd8"]]},{"id":"d590b21d.c59798","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_1')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_1');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":980,"wires":[["cb2c5e8d.4e99f8"]]},{"id":"cb2c5e8d.4e99f8","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":1020,"wires":[["bf1a270d.b7bd8","2261e4b2.cb3fc4"]]},{"id":"b3620df7.6a11f","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_2')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_2');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1380,"wires":[["7bb0a471.a2c874"]]},{"id":"7bb0a471.a2c874","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":1420,"wires":[["84ea43e2.439f","d08a6fa9.6e3278"]]},{"id":"529c7592.eb0f9c","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_3')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_3');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1780,"wires":[["55ee661f.eb9358"]]},{"id":"55ee661f.eb9358","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":1820,"wires":[["6a52cb47.22fbec","d108eafc.9b4a1"]]},{"id":"11ab4968.f7baef","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_4')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_4');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":2180,"wires":[["a46973d4.1b5e2"]]},{"id":"a46973d4.1b5e2","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":2220,"wires":[["ee655ffc.99b7","d8decd52.fa4b68"]]},{"id":"3d05b2e0.865d66","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":240,"wires":[["595a5742.8387e8"]]},{"id":"d1bb6a54.4cbfa","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":620,"wires":[["94ea0cab.d53df"]]},{"id":"b02bd187.60bdd","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1060,"wires":[["dadf09ef.620938"]]},{"id":"9183f4d.4d1c708","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1460,"wires":[["756ce0d.112cd2"]]},{"id":"45d9c08e.53fe28","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1860,"wires":[["9f70464c.367e38"]]},{"id":"1d4a1756.617449","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":2260,"wires":[["eaaac723.410bf"]]},{"id":"3627ccfa.4d14bc","type":"modbus-read","z":"fce385a2.eac158","name":"Cap Bank 1","topic":"cap1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"22","dataType":"HoldingRegister","adr":"0","quantity":"72","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":770,"y":1700,"wires":[["1ae0b60.c86f74a","7f6467ec.e1126"],[]]},{"id":"92a4b90f.5d6d18","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n\n// aa = msg.toInt32(v[3],v[2]) / 1000\n// ab = msg.toInt32(v[29],v[28]) / 1000\n// ac = msg.toInt32(v[55],v[54]) / 1000\naa = msg.toInt32(v[2],v[3]) / 1000\nab = msg.toInt32(v[28],v[29]) / 1000\nac = msg.toInt32(v[54],v[55]) / 1000\nmsg.liat = [aa, ab, ac]\nmsg.payload.aavg = ((aa + ab + ac)/3).toFixed(1)\n\n// msg.payload.vrn = (msg.toInt32(v[1],v[0]) / 100).toFixed(1)\n// msg.payload.vsn = (msg.toInt32(v[27],v[26]) / 100).toFixed(1)\n// msg.payload.vtn = (msg.toInt32(v[53],v[52]) / 100).toFixed(1)\nmsg.payload.vrn = (msg.toInt32(v[0],v[1]) / 100).toFixed(1)\nmsg.payload.vsn = (msg.toInt32(v[26],v[27]) / 100).toFixed(1)\nmsg.payload.vtn = (msg.toInt32(v[52],v[53]) / 100).toFixed(1)\nmsg.liat.push(msg.payload.vrn)\nmsg.liat.push(msg.payload.vsn)\nmsg.liat.push(msg.payload.vtn)\n\npfa = msg.toInt32(v[18],v[19])/1000\npfb = msg.toInt32(v[44],v[45])/1000\npfc = msg.toInt32(v[70],v[71])/1000\nmsg.liat.push(pfa)\nmsg.liat.push(pfb)\nmsg.liat.push(pfc)\nmsg.payload.pf = ((pfa +pfb + pfc)/3).toFixed(2)\n\nkwa = msg.toInt32(v[4],v[5])/1000\nkwb = msg.toInt32(v[30],v[31])/1000\nkwc = msg.toInt32(v[56],v[57])/1000\nmsg.liat.push(kwa)\nmsg.liat.push(kwb)\nmsg.liat.push(kwc)\nmsg.payload.kw = ((kwa +kwb + kwc)/3).toFixed(1)\n\nkvaa = msg.toInt32(v[12],v[13])/1000\nkvab = msg.toInt32(v[38],v[39])/1000\nkvac = msg.toInt32(v[64],v[65])/1000\nmsg.liat.push(kvaa)\nmsg.liat.push(kvab)\nmsg.liat.push(kvac)\nmsg.payload.kva = ((kvaa +kvab +kvac)/3).toFixed(1)\n\nkvara = msg.toInt32(v[10],v[11])/1000\nkvarb = msg.toInt32(v[36],v[37])/1000\nkvarc = msg.toInt32(v[62],v[63])/1000\nmsg.liat.push(kvara)\nmsg.liat.push(kvarb)\nmsg.liat.push(kvarc)\nmsg.payload.kvar = ((kvara +kvarb +kvarc)/3).toFixed(1)\n\n// msg.payload.thdi = (((v[583] +  v[584] + v[585]) * 0.01 )/ 3).toFixed(2)\n// thda = msg.toInt32(v[0],v[1])\n// thdb = msg.toInt32(v[2],v[3])\n// thdc = msg.toInt32(v[4],v[5])\n// msg.liat = [thda, thdb, thdc]\n// msg.payload.thdv = ((thda+thdb+thdc)/3).toFixed(2)\n// msg.payload.kwh = ((v[3] + (v[2] * 65535) + (v[1] * 65535 * 65535) + (v[0] * 65535 * 65535 * 65535))/1000).toFixed(0)\n// msg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1820,"wires":[["9181907c.2c8a78","822e186a.68a32","41eec575.da1f1c","1fb85ccc.64e3d3"]]},{"id":"e183012a.1aec4","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":1780,"wires":[]},{"id":"7edadeb.4b1f12","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1900,"wires":[["b79e6e69.c3671","b14e0224.3d69b8"]]},{"id":"9181907c.2c8a78","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1820,"wires":[]},{"id":"7f6467ec.e1126","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nmsg.toInt32 = function(a, b){\n    int32 = (a * 65536) + b\n    return int32;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1740,"wires":[["a4667232.beb57"]]},{"id":"b14e0224.3d69b8","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kw, kvar) values\n('${datetime}', '${v.kw}', '${v.kvar}')\non duplicate key update\n    kw = '${v.kw}',\n    kvar = '${v.kvar}'\n`\nflow.set('timestamp_'+msg.modul+'_1',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1940,"wires":[["5da06d12.b9d53c","7235ae1c.cb916"]]},{"id":"5da06d12.b9d53c","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":1000,"y":1980,"wires":[["9ef3e42f.c59248"]]},{"id":"9ef3e42f.c59248","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1980,"wires":[]},{"id":"b79e6e69.c3671","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1900,"wires":[]},{"id":"7235ae1c.cb916","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":1940,"wires":[]},{"id":"822e186a.68a32","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":1190,"y":1860,"wires":[]},{"id":"1ae0b60.c86f74a","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1660,"wires":[]},{"id":"4b823af1.501b74","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":1660,"wires":[]},{"id":"41eec575.da1f1c","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"liat","targetType":"msg","x":1180,"y":1780,"wires":[]},{"id":"a4667232.beb57","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_1')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_1');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1780,"wires":[["9c03c4b1.d897c"]]},{"id":"9c03c4b1.d897c","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":830,"y":1820,"wires":[["92a4b90f.5d6d18","e183012a.1aec4"]]},{"id":"1fb85ccc.64e3d3","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":1860,"wires":[["7edadeb.4b1f12"]]},{"id":"32c2c01.142bdc","type":"modbus-read","z":"fce385a2.eac158","name":"Cap Bank 2","topic":"cap2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"23","dataType":"HoldingRegister","adr":"0","quantity":"72","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":990,"y":1700,"wires":[["4b823af1.501b74","7f6467ec.e1126"],[]]},{"id":"965f385b.752278","type":"modbus-read","z":"fce385a2.eac158","name":"Cap Bank 1","topic":"cap1","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"22","dataType":"HoldingRegister","adr":"124","quantity":"14","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":770,"y":2100,"wires":[["4b9d5107.d6a4e","2200bb9c.643074"],[]]},{"id":"c83603d2.701ff8","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n\n// aa = msg.toInt32(v[3],v[2])\n// ab = msg.toInt32(v[29],v[28])\n// ac = msg.toInt32(v[55],v[54])\n// // msg.liat = [aa, ab, ac]\n// msg.payload.aavg = ((aa + ab + ac)/3).toFixed(1)\n\n// msg.payload.vrn = (msg.toInt32(v[1],v[0])).toFixed(1)\n// msg.payload.vsn = (msg.toInt32(v[27],v[26])).toFixed(1)\n// msg.payload.vtn = (msg.toInt32(v[53],v[52])).toFixed(1)\n// // msg.liat.push(msg.payload.vrn)\n// // msg.liat.push(msg.payload.vsn)\n// // msg.liat.push(msg.payload.vtn)\n\n// pfa = msg.toInt32(v[19],v[18])\n// pfb = msg.toInt32(v[45],v[44])\n// pfc = msg.toInt32(v[71],v[70])\n// msg.payload.pf = ((pfa +pfb + pfc)/3).toFixed(1)\n\n// kwa = msg.toInt32(v[5],v[4])\n// kwb = msg.toInt32(v[31],v[30])\n// kwc = msg.toInt32(v[57],v[56])\n// msg.payload.kw = ((kwa +kwb + kwc)/3).toFixed(1)\n\n// kvaa = msg.toInt32(v[13],v[12])\n// kvab = msg.toInt32(v[39],v[38])\n// kvac = msg.toInt32(v[65],v[64])\n// msg.payload.kva = ((kvaa +kvab +kvac)/3).toFixed(1)\n\n// kvara = msg.toInt32(v[15],v[14])\n// kvarb = msg.toInt32(v[41],v[40])\n// kvarc = msg.toInt32(v[67],v[66])\n// msg.payload.kva = ((kvara +kvarb +kvarc)/3).toFixed(1)\n\nthdia = msg.toInt32(v[6],v[7])\nthdib = msg.toInt32(v[8],v[9])\nthdic = msg.toInt32(v[10],v[11])\nmsg.liat = [thdia, thdib, thdic]\nmsg.payload.thdi = (((thdia + thdib + thdic) * 0.01)/3).toFixed(2)\n\nthdva = msg.toInt32(v[0],v[1])\nthdvb = msg.toInt32(v[2],v[3])\nthdvc = msg.toInt32(v[4],v[5])\nmsg.liat.push(thdva, thdvb, thdvc)\nmsg.payload.thdv = (((thdva+thdvb+thdvc) * 0.01)/3).toFixed(2)\n\nmsg.payload.kwh = (msg.toInt32(v[12],v[13])).toFixed(0)\nmsg.liat.push(msg.payload.kwh)\n// msg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2220,"wires":[["e251ac6d.164258","97782801.dcb66","eb8e7d41.2527f8","157c3f66.f87521"]]},{"id":"4eca723.34c160c","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":2180,"wires":[]},{"id":"4a2e7072.8740c8","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2300,"wires":[["6153bd6a.56049c","4d27df73.35c1b"]]},{"id":"e251ac6d.164258","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":2220,"wires":[]},{"id":"2200bb9c.643074","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(a, b){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nmsg.toInt32 = function(a, b){\n    int32 = (a * 65536) + b\n    return int32;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2140,"wires":[["f58f9d37.34bd58"]]},{"id":"4d27df73.35c1b","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kwh, thdi, thdv) values\n('${datetime}', '${v.kwh}', '${v.thdi}', '${v.thdv}')\non duplicate key update\n    kwh = '${v.kwh}',\n    thdi = '${v.thdi}',\n    thdv = '${v.thdv}'\n`\nflow.set('timestamp_'+msg.modul+'_2',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2340,"wires":[["88ac5cc6.51bfa8","a43ec132.72e388"]]},{"id":"88ac5cc6.51bfa8","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":1000,"y":2380,"wires":[["74595710.bfb108"]]},{"id":"74595710.bfb108","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":2380,"wires":[]},{"id":"6153bd6a.56049c","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":2300,"wires":[]},{"id":"a43ec132.72e388","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":2340,"wires":[]},{"id":"97782801.dcb66","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":1190,"y":2260,"wires":[]},{"id":"4b9d5107.d6a4e","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":2060,"wires":[]},{"id":"b351107b.097a6","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":2060,"wires":[]},{"id":"eb8e7d41.2527f8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"liat","targetType":"msg","x":1180,"y":2180,"wires":[]},{"id":"f58f9d37.34bd58","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_2')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_2');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2180,"wires":[["678b5573.15c354"]]},{"id":"678b5573.15c354","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":830,"y":2220,"wires":[["c83603d2.701ff8","4eca723.34c160c"]]},{"id":"157c3f66.f87521","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":2260,"wires":[["4a2e7072.8740c8"]]},{"id":"e7b6f96e.036be8","type":"modbus-read","z":"fce385a2.eac158","name":"Cap Bank 2","topic":"cap2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"23","dataType":"HoldingRegister","adr":"124","quantity":"14","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":990,"y":2100,"wires":[["b351107b.097a6","2200bb9c.643074"],[]]},{"id":"63becef6.076948","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n\naa = (msg.toFloat(v[5],v[4])).toFixed(1)\nab = (msg.toFloat(v[7],v[6])).toFixed(1)\nac = (msg.toFloat(v[9],v[8])).toFixed(1)\nmsg.liat = [aa, ab, ac, msg.toFloat(v[3],v[2])]\nmsg.payload.aavg = (msg.toFloat(v[3],v[2])).toFixed(1)\nmsg.payload.vrn = (msg.toFloat(v[11],v[10])).toFixed(1)\nmsg.payload.vsn = (msg.toFloat(v[13],v[12])).toFixed(1)\nmsg.payload.vtn = (msg.toFloat(v[15],v[14])).toFixed(1)\nmsg.payload.pf = (msg.toFloat(v[23],v[22])).toFixed(2)\nmsg.payload.kw = (msg.toFloat(v[25],v[24])/1000).toFixed(1)\nmsg.payload.kva = (msg.toFloat(v[29],v[28])/1000).toFixed(1)\nmsg.payload.kvar = (msg.toFloat(v[27],v[26])/1000).toFixed(1)\n// msg.payload.thdi = (((v[583] +  v[584] + v[585]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.thdv = (((v[580] +  v[581] + v[582]) * 0.01 )/ 3).toFixed(2)\n// msg.payload.kwh = (v[33] * 65536) + v[32]\nmsg.payload.kwh = (msg.toFloat(v[33],v[32])/1000).toFixed(0)\nmsg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1020,"wires":[["43552cff.c16a5c","bdc9d782.be2cf","4ad38b65.1e113c","96f85a98.9cc8a"]]},{"id":"a2018bb8.df0c6","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":980,"wires":[]},{"id":"bf6b11ac.7abf08","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1100,"wires":[["f037ae6d.ce58d","f66a642f.caf9e8"]]},{"id":"43552cff.c16a5c","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1020,"wires":[]},{"id":"ba68086d.d322b","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(b, a){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":940,"wires":[["eefbfe1d.28b52"]]},{"id":"f66a642f.caf9e8","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kwh, kw, kvar) values\n('${datetime}', '${v.kwh}', '${v.kw}', '${v.kvar}')\non duplicate key update\n    kwh = '${v.kwh}',\n    kw = '${v.kw}',\n    kvar = '${v.kvar}'\n`\nflow.set('timestamp_'+msg.modul+'_1',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1140,"wires":[["8698a9e9.c143e8","99a12e68.5513a8"]]},{"id":"8698a9e9.c143e8","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":1000,"y":1180,"wires":[["7ac62fbe.91005"]]},{"id":"7ac62fbe.91005","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1180,"wires":[]},{"id":"f037ae6d.ce58d","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1100,"wires":[]},{"id":"99a12e68.5513a8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":1140,"wires":[]},{"id":"bdc9d782.be2cf","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":1190,"y":1060,"wires":[]},{"id":"eefbfe1d.28b52","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_1')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_1');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":980,"wires":[["6c050a54.4247fc"]]},{"id":"6c050a54.4247fc","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":830,"y":1020,"wires":[["63becef6.076948","a2018bb8.df0c6"]]},{"id":"4ad38b65.1e113c","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":1060,"wires":[["bf6b11ac.7abf08"]]},{"id":"dd85d17f.0262d","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"v = msg.value\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\n\n// aa = msg.toFloat(v[3],v[2])\n// ab = msg.toFloat(v[29],v[28])\n// ac = msg.toFloat(v[55],v[54])\n// // msg.liat = [aa, ab, ac]\n// msg.payload.aavg = ((aa + ab + ac)/3).toFixed(1)\n\n// msg.payload.vrn = (msg.toFloat(v[1],v[0])).toFixed(1)\n// msg.payload.vsn = (msg.toFloat(v[27],v[26])).toFixed(1)\n// msg.payload.vtn = (msg.toFloat(v[53],v[52])).toFixed(1)\n// // msg.liat.push(msg.payload.vrn)\n// // msg.liat.push(msg.payload.vsn)\n// // msg.liat.push(msg.payload.vtn)\n\n// pfa = msg.toFloat(v[19],v[18])\n// pfb = msg.toFloat(v[45],v[44])\n// pfc = msg.toFloat(v[71],v[70])\n// msg.payload.pf = ((pfa +pfb + pfc)/3).toFixed(1)\n\n// kwa = msg.toFloat(v[5],v[4])\n// kwb = msg.toFloat(v[31],v[30])\n// kwc = msg.toFloat(v[57],v[56])\n// msg.payload.kw = ((kwa +kwb + kwc)/3).toFixed(1)\n\n// kvaa = msg.toFloat(v[13],v[12])\n// kvab = msg.toFloat(v[39],v[38])\n// kvac = msg.toFloat(v[65],v[64])\n// msg.payload.kva = ((kvaa +kvab +kvac)/3).toFixed(1)\n\n// kvara = msg.toFloat(v[15],v[14])\n// kvarb = msg.toFloat(v[41],v[40])\n// kvarc = msg.toFloat(v[67],v[66])\n// msg.payload.kva = ((kvara +kvarb +kvarc)/3).toFixed(1)\n\nthdia = msg.toFloat(v[7],v[6])\nthdib = msg.toFloat(v[9],v[8])\nthdic = msg.toFloat(v[11],v[10])\nmsg.liat = [thdia, thdib, thdic]\nmsg.payload.thdi = (((thdia + thdib + thdic) * 0.01)/3).toFixed(2)\n\nthdva = msg.toFloat(v[1],v[0])\nthdvb = msg.toFloat(v[3],v[2])\nthdvc = msg.toFloat(v[5],v[4])\nmsg.liat.push([thdva, thdvb, thdvc])\nmsg.payload.thdv = (((thdva+thdvb+thdvc) * 0.01)/3).toFixed(2)\n\n// msg.payload.kwh = (v[13] + v[12]).toFixed(0)\n// msg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1420,"wires":[["ea9c3b03.b48bd","a2412778.0e9e4","787128e9.ca02f","9dadfe39.29e3c"]]},{"id":"e78f1705.e84ec","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":1380,"wires":[]},{"id":"47d3865a.a76348","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1500,"wires":[["df84530d.c789b8","62891df5.ba1f6c"]]},{"id":"ea9c3b03.b48bd","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1420,"wires":[]},{"id":"ce002602.561ec8","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nmsg.value = msg.payload\nmsg.toFloat = function(b, a){\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    ints[0] = a;\n    ints[1] = b;\n    var floats = new Float32Array(buf);\n    return floats[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1340,"wires":[["17582d2d.026833"]]},{"id":"62891df5.ba1f6c","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, thdi, thdv) values\n('${datetime}', '${v.thdi}', '${v.thdv}')\non duplicate key update\n    thdi = '${v.thdi}',\n    thdv = '${v.thdv}'\n`\nflow.set('timestamp_'+msg.modul+'_2',msg.timestamp_round.getTime());\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1540,"wires":[["9501b2eb.98a19","f77287d7.5f1bc"]]},{"id":"9501b2eb.98a19","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":1000,"y":1580,"wires":[["27d1fb84.7ce344"]]},{"id":"27d1fb84.7ce344","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1580,"wires":[]},{"id":"df84530d.c789b8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":1500,"wires":[]},{"id":"f77287d7.5f1bc","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":1540,"wires":[]},{"id":"a2412778.0e9e4","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":1190,"y":1460,"wires":[]},{"id":"787128e9.ca02f","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"liat","targetType":"msg","x":1180,"y":1380,"wires":[]},{"id":"17582d2d.026833","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.modul = msg.topic;\nmsg.coeff = 1000 * 10\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_'+msg.modul+'_2')){\n   msg.deadband = msg.timestamp.getTime() - flow.get('timestamp_'+msg.modul+'_2');\n} else {\n    msg.deadband = msg.coeff;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1380,"wires":[["1bb576fc.9fa629"]]},{"id":"1bb576fc.9fa629","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":830,"y":1420,"wires":[["dd85d17f.0262d","e78f1705.e84ec"]]},{"id":"9dadfe39.29e3c","type":"switch","z":"fce385a2.eac158","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"9999","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":1460,"wires":[["47d3865a.a76348"]]},{"id":"47ab3067.7489e8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1260,"wires":[]},{"id":"9d398bff.844ca8","type":"modbus-read","z":"fce385a2.eac158","name":"PP2","topic":"pp2","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"InputRegister","adr":"90","quantity":"12","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"518e9625.3b661","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":750,"y":1300,"wires":[["47ab3067.7489e8","ce002602.561ec8"],[]]},{"id":"96f85a98.9cc8a","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"liat","targetType":"msg","x":1180,"y":980,"wires":[]},{"id":"30f82cca.15b9f4","type":"timeout","z":"fce385a2.eac158","name":"My Timeout","outtopic":"","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"5","timer":"30","repeat":false,"again":false,"x":730,"y":40,"wires":[["f95e3a1b.fb45c8"]]},{"id":"db5f2e7b.7450b8","type":"exec","z":"fce385a2.eac158","command":"node -v","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":100,"wires":[["5ff74cce.47c5a4"],["20f262c4.4c46ce"],["72f93aa8.d3f28c"]]},{"id":"5ff74cce.47c5a4","type":"debug","z":"fce385a2.eac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":60,"wires":[]},{"id":"20f262c4.4c46ce","type":"debug","z":"fce385a2.eac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":100,"wires":[]},{"id":"72f93aa8.d3f28c","type":"debug","z":"fce385a2.eac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":140,"wires":[]},{"id":"f95e3a1b.fb45c8","type":"switch","z":"fce385a2.eac158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Unsafe","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":40,"wires":[["db5f2e7b.7450b8"]]}]