node-red/pm.json
[{"id":"fce385a2.eac158","type":"tab","label":"PM","disabled":false,"info":""},{"id":"13d0e1e5.d5bbae","type":"modbus-read","z":"fce385a2.eac158","d":true,"name":"Modbus Kikukawa","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Input","adr":"0000","quantity":"0007","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":80,"wires":[["4d37da18.175d34","fa0e6dc1.28b59"],[]]},{"id":"4d37da18.175d34","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":40,"wires":[]},{"id":"bf8447c3.072258","type":"jquerify","z":"fce385a2.eac158","name":"parsing tags","func":"// var tag = msg.payload;\n// msg.payload = {};\n// msg.payload.mesinRun = tag[0];\n// msg.payload.alarm = tag[1];\n// msg.payload.pintuDepan = !(tag[2]&&tag[3]);\n// msg.payload.pintuBelakang = !(tag[4]&&tag[5]);\n// msg.payload.tool1 = !tag[6];\n// msg.payload.tool2 = !tag[7];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["aed22563.c1efa8","595a5742.8387e8"]]},{"id":"46301d69.c1c374","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":160,"wires":[]},{"id":"595a5742.8387e8","type":"jquerify","z":"fce385a2.eac158","name":"parsing triggers","func":"// var tag = msg.payload;\n// msg.trigger = [];\n// var cutting;\n// var alarm;\n// var dandori;\n// var man;\n// var idle;\n// var bug;\n// if(\n//     tag.mesinRun && \n//     !(\n//         tag.alarm||\n//         tag.pintuDepan||tag.pintuBelakang||\n//         tag.tool1||tag.tool2\n//     )\n// ){\n//     msg.trigger.push('cutting');\n//     cutting = true;\n// }\n// if(tag.alarm){\n//     msg.trigger.push('alarm');\n//     alarm = true;\n// }\n// if(tag.tool1||tag.tool2){\n//     msg.trigger.push('dandori');\n//     dandori = true;\n// }\n// if(\n//     (tag.pintuDepan||tag.pintuBelakang) &&\n//     !(tag.tool1||tag.tool2)\n// ){\n//     msg.trigger.push('man');\n//     man = true;\n// }\n// if(!(cutting||alarm||dandori||man)){\n//     msg.trigger.push('idle');\n//     idle = true;\n// }\n// if(!(cutting||alarm||dandori||man||idle)){\n//     msg.trigger = ('bug');\n//     msg.bug = true;\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["53a1e196.7d284","3971f2a7.851fee"]]},{"id":"aed22563.c1efa8","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":200,"wires":[]},{"id":"55115eb7.b0954","type":"moment","z":"fce385a2.eac158","name":"Today","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":160,"wires":[["4f8e5c28.e585a4"]]},{"id":"4f8e5c28.e585a4","type":"jquerify","z":"fce385a2.eac158","name":"context","func":"var today = new Date(msg.today);\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(context.get('timeInSecond')){\n   msg.deadband = nowInSecond - context.get('timeInSecond');\n} else {\n    msg.deadband = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":200,"wires":[["46301d69.c1c374","170f8b46.08b115"]]},{"id":"fa0e6dc1.28b59","type":"jquerify","z":"fce385a2.eac158","name":"parsing timestamp","func":"msg.timestamp = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":120,"wires":[["55115eb7.b0954"]]},{"id":"170f8b46.08b115","type":"rbe","z":"fce385a2.eac158","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":200,"wires":[["bf8447c3.072258"]]},{"id":"6033b1c3.da2f1","type":"websocket in","z":"fce385a2.eac158","name":"","server":"","client":"626122f2.cdbb8c","x":150,"y":420,"wires":[["a1d3e85.f578418"]]},{"id":"a1d3e85.f578418","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":380,"wires":[]},{"id":"3971f2a7.851fee","type":"jquerify","z":"fce385a2.eac158","name":"insert pm","func":"var datetime = msg.today\nvar v = msg.payload\nmsg.topic = `\ninsert into ${v.modul}\n(datetime, kwh, kw, kvar, thdi, thdv) values\n('${datetime}', '${v.kwh}', '${v.kw}', '${v.kvar}', '${v.thdi}', '${v.thdv}')\n`\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["811e0f65.6497e","95b06ad6.ee8d78","64e91699.61a7d8"]]},{"id":"811e0f65.6497e","type":"mysql","z":"fce385a2.eac158","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":360,"wires":[["1857c741.587559"]]},{"id":"1857c741.587559","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":360,"wires":[]},{"id":"53a1e196.7d284","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":240,"wires":[]},{"id":"95b06ad6.ee8d78","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":280,"wires":[]},{"id":"494b219b.9139e","type":"jquerify","z":"fce385a2.eac158","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\nmsg.payload.aagv = (120 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.vrn = (220 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.vsn = (220 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.vtn = (220 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.pf = (1 - ((Math.random() * 0.1))).toFixed(2);\nmsg.payload.kw = (12000 + ((Math.random() * 400) - 200)).toFixed(0);\nmsg.payload.kva = (6500 + ((Math.random() * 200) - 100)).toFixed(0);\nmsg.payload.kvar = (6500 + ((Math.random() * 200) - 100)).toFixed(0);\nmsg.payload.thdi = (0 - ((Math.random() * 0.1))).toFixed(2);\nmsg.payload.thdv = (1 - ((Math.random() * 0.1))).toFixed(2);\nmsg.payload.kwh = (12000000 + ((Math.random() * 400000) - 200000)).toFixed(0);\nmsg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["aeb8d34b.7364a","55115eb7.b0954"]]},{"id":"4262f9ef.2b7b68","type":"inject","z":"fce385a2.eac158","name":"","topic":"pp1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":80,"wires":[["494b219b.9139e"]]},{"id":"aeb8d34b.7364a","type":"debug","z":"fce385a2.eac158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":40,"wires":[]},{"id":"16f4dff5.46114","type":"comment","z":"fce385a2.eac158","name":"remove in prod","info":"","x":360,"y":220,"wires":[]},{"id":"64e91699.61a7d8","type":"websocket out","z":"fce385a2.eac158","name":"","server":"5a5f061e.e45558","client":"","x":530,"y":320,"wires":[]},{"id":"32b844e.f22a2bc","type":"switch","z":"fce385a2.eac158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":460,"wires":[[]]},{"id":"9ba499d0.e2c078","type":"jquerify","z":"fce385a2.eac158","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.payload = {};\nmsg.payload.modul = msg.topic;\nmsg.payload.aagv = (120 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.vrn = (220 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.vsn = (220 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.vtn = (220 + ((Math.random() * 4) - 2)).toFixed(1);\nmsg.payload.pf = (1 - ((Math.random() * 0.1))).toFixed(2);\nmsg.payload.kw = (12000 + ((Math.random() * 400) - 200)).toFixed(0);\nmsg.payload.kva = (6500 + ((Math.random() * 200) - 100)).toFixed(0);\nmsg.payload.kvar = (6500 + ((Math.random() * 200) - 100)).toFixed(0);\nmsg.payload.thdi = (0 - ((Math.random() * 0.1))).toFixed(2);\nmsg.payload.thdv = (1 - ((Math.random() * 0.1))).toFixed(2);\nmsg.payload.kwh = (12000000 + ((Math.random() * 400000) - 200000)).toFixed(0);\nmsg.payload.alarm = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["55115eb7.b0954"]]},{"id":"7cd6c431.ae580c","type":"inject","z":"fce385a2.eac158","name":"","topic":"pp2","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":80,"wires":[["9ba499d0.e2c078"]]},{"id":"89b9e377.59ea08","type":"modbus-client","z":"","name":"ioLogic_kikukawa","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"626122f2.cdbb8c","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/pm","tls":"","wholemsg":"false"},{"id":"cbf3e933.cf51e8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"scada_skf","tz":""},{"id":"5a5f061e.e45558","type":"websocket-listener","z":"","path":"/ws/pm","wholemsg":"false"}]