node-red/temp_and_alarm.json
[{"id":"26b815c8.86deda","type":"tab","label":"Temp and Alarm","disabled":false,"info":""},{"id":"23cf7f77.5301f","type":"modbus-read","z":"26b815c8.86deda","d":true,"name":"Modbus Kikukawa","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Input","adr":"0000","quantity":"0007","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":80,"wires":[["142d54db.f016fb","abc0ea7f.5cf4a8"],[]]},{"id":"142d54db.f016fb","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":40,"wires":[]},{"id":"30f4060e.fb789a","type":"jquerify","z":"26b815c8.86deda","name":"parsing tags","func":"// var tag = msg.payload;\n// msg.payload = {};\n// msg.payload.mesinRun = tag[0];\n// msg.payload.alarm = tag[1];\n// msg.payload.pintuDepan = !(tag[2]&&tag[3]);\n// msg.payload.pintuBelakang = !(tag[4]&&tag[5]);\n// msg.payload.tool1 = !tag[6];\n// msg.payload.tool2 = !tag[7];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["5a8d55ff.09256c","3148672b.5fcc58","54c9e546.2bde9c","297756b.73dfdaa"]]},{"id":"94f4b960.c6fee8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":160,"wires":[]},{"id":"3148672b.5fcc58","type":"jquerify","z":"26b815c8.86deda","name":"get temp_limit","func":"v = msg.payload\nmsg.topic = `\nselect \n    case when ${v[msg.modul]} > pp1 then true else false end ${msg.modul}\nfrom\n    temp_limit\nlimit 1\n`\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["efd7f3ce.a799c","ae43444a.ed8348"]]},{"id":"5a8d55ff.09256c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"3d8e76ad.59549a","type":"moment","z":"26b815c8.86deda","name":"timestamp_temp","topic":"","input":"timestamp_round","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"timestamp_temp","outputType":"msg","outTz":"Asia/Jakarta","x":130,"y":200,"wires":[["c7e31e51.f3f2b","94f4b960.c6fee8"]]},{"id":"44fe6975.d606a8","type":"jquerify","z":"26b815c8.86deda","name":"context","func":"msg.coeff = 1000 * 60 * 5;\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_temp_'+msg.modul)){\n   msg.deadband = msg.timestamp - flow.get('timestamp_temp_'+msg.modul);\n} else {\n    msg.deadband = (msg.coeff) + 1;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["3d8e76ad.59549a"]]},{"id":"abc0ea7f.5cf4a8","type":"jquerify","z":"26b815c8.86deda","name":"parsing timestamp","func":"msg.timestamp = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":120,"wires":[["44fe6975.d606a8"]]},{"id":"c7e31e51.f3f2b","type":"rbe","z":"26b815c8.86deda","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":200,"wires":[["30f4060e.fb789a"]]},{"id":"4a54524d.a4cc2c","type":"websocket in","z":"26b815c8.86deda","name":"","server":"","client":"919147aa.b50e58","x":170,"y":420,"wires":[["1df90f21.7e12d1"]]},{"id":"1df90f21.7e12d1","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":380,"wires":[]},{"id":"96f7ed83.1e3e8","type":"jquerify","z":"26b815c8.86deda","name":"insert temp","func":"var datetime = msg.timestamp_temp\nvar v = msg.payload\nmsg.topic = `\ninsert into temp\n(datetime, ${msg.modul}) values\n('${datetime}', '${v[msg.modul]}')\nON DUPLICATE KEY UPDATE\n${msg.modul} = '${v[msg.modul]}'\n`\nflow.set('timestamp_temp_'+msg.modul, (new Date(datetime)).getTime())\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["77055214.9eb13c","cb2a5f0c.81fdf"]]},{"id":"ae43444a.ed8348","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":340,"y":320,"wires":[["a6df0b3d.309df8","50094fd5.7d1a1"]]},{"id":"a6df0b3d.309df8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":360,"wires":[]},{"id":"efd7f3ce.a799c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":520,"y":320,"wires":[]},{"id":"c54bb718.c18ae8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":360,"wires":[]},{"id":"67d85e9b.2046","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.modul = msg.topic\nmsg.payload = {};\nmsg.payload[msg.topic] = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.pp2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.sdp = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_1 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["9d71b35e.f4bc9","44fe6975.d606a8"]]},{"id":"55e0e3ef.90d58c","type":"inject","z":"26b815c8.86deda","name":"","topic":"pp1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":80,"wires":[["67d85e9b.2046"]]},{"id":"9d71b35e.f4bc9","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":40,"wires":[]},{"id":"6b787948.6722b8","type":"comment","z":"26b815c8.86deda","name":"remove in prod","info":"","x":360,"y":220,"wires":[]},{"id":"54c9e546.2bde9c","type":"websocket out","z":"26b815c8.86deda","name":"","server":"96884092.5f7b9","client":"","x":540,"y":240,"wires":[]},{"id":"d0ba93f5.bc389","type":"bigsplitter","z":"26b815c8.86deda","name":"","property":"payload","x":800,"y":200,"wires":[[],[]]},{"id":"50094fd5.7d1a1","type":"websocket out","z":"26b815c8.86deda","name":"","server":"b91637d8.f0dd88","client":"","x":560,"y":360,"wires":[]},{"id":"297756b.73dfdaa","type":"switch","z":"26b815c8.86deda","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"300000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":280,"wires":[["96f7ed83.1e3e8"]]},{"id":"77055214.9eb13c","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":760,"y":320,"wires":[["c54bb718.c18ae8"]]},{"id":"3b97f981.3798d6","type":"websocket in","z":"26b815c8.86deda","name":"","server":"","client":"cc07832a.6881d","x":190,"y":500,"wires":[["72459980.117c38"]]},{"id":"72459980.117c38","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":460,"wires":[]},{"id":"507bc928.70f908","type":"modbus-read","z":"26b815c8.86deda","d":true,"name":"Modbus Kikukawa","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Input","adr":"0000","quantity":"0007","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":620,"wires":[["4ef263.eac67d9c","b14e3b20.de6088"],[]]},{"id":"4ef263.eac67d9c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":580,"wires":[]},{"id":"45e5ea2c.5c0cf4","type":"jquerify","z":"26b815c8.86deda","name":"parsing tags","func":"// var tag = msg.payload;\n// msg.payload = {};\n// msg.payload.mesinRun = tag[0];\n// msg.payload.alarm = tag[1];\n// msg.payload.pintuDepan = !(tag[2]&&tag[3]);\n// msg.payload.pintuBelakang = !(tag[4]&&tag[5]);\n// msg.payload.tool1 = !tag[6];\n// msg.payload.tool2 = !tag[7];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["58fc53af.1920dc","3be018e.4affbe8","5809a4d4.d3b87c","d1c45292.15071"]]},{"id":"f231176f.422aa8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":700,"wires":[]},{"id":"d2cc1eb4.2cd7f","type":"jquerify","z":"26b815c8.86deda","name":"check db first","func":"msg.topic = `\nselect count(id) as 'check'\nfrom alarm\nwhere \n    modul = '${msg.payload.k}'\n    and\n    datetime_start is not null\n    and\n    datetime_end is null\n`\nmsg.alarm = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":860,"wires":[["8765ca7b.0fbd78"]]},{"id":"58fc53af.1920dc","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":740,"wires":[]},{"id":"866d5a19.3436b8","type":"moment","z":"26b815c8.86deda","name":"now_formatted","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"timestamp_temp","outputType":"msg","outTz":"Asia/Jakarta","x":140,"y":740,"wires":[["3bfbfc5c.66d964","f231176f.422aa8"]]},{"id":"a764a6f4.441ba8","type":"jquerify","z":"26b815c8.86deda","name":"context","func":"msg.coeff = 1000 * 60 * 5;\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(flow.get('timestamp_temp')){\n   msg.deadband = msg.timestamp - flow.get('timestamp_temp');\n} else {\n    msg.deadband = (msg.coeff) + 1;\n}\nmsg.timestamp_round = new Date(Math.floor(msg.timestamp.getTime() / msg.coeff) * msg.coeff)\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":700,"wires":[["866d5a19.3436b8"]]},{"id":"b14e3b20.de6088","type":"jquerify","z":"26b815c8.86deda","name":"parsing timestamp","func":"msg.timestamp = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":660,"wires":[["a764a6f4.441ba8"]]},{"id":"3bfbfc5c.66d964","type":"rbe","z":"26b815c8.86deda","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":740,"wires":[["45e5ea2c.5c0cf4"]]},{"id":"786943bb.c3f58c","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nchangeTrigger = Math.floor((msg.timestamp/10000) % 3);\nmsg.payload = {};\nmsg.payload.pp1 = changeTrigger === 0;\nmsg.payload.pp2 = changeTrigger === 0;\nmsg.payload.sdp = changeTrigger === 0;\nmsg.payload.cap_bank_1 = changeTrigger == 1;\nmsg.payload.cap_bank_2 = changeTrigger == 1;\nmsg.payload.evacuate = changeTrigger == 2;\nmsg.payload.gas_disc = changeTrigger == 2;\n// msg.alarm = ['pp1', 'pp2', 'sdp', ]\nmsg.keytag = Object.keys(msg.payload)\nmsg.alarm = []\n$(msg.keytag).each(function( i, v ) {\n    (msg.alarm).push({k:v, v:msg.payload[v]})\n})\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":660,"wires":[["5f9047f5.da20b8","a764a6f4.441ba8"]]},{"id":"dd658e7c.6051b","type":"inject","z":"26b815c8.86deda","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":620,"wires":[["786943bb.c3f58c"]]},{"id":"5f9047f5.da20b8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":620,"wires":[]},{"id":"9a897a31.5f5c28","type":"comment","z":"26b815c8.86deda","name":"remove in prod","info":"","x":360,"y":760,"wires":[]},{"id":"3be018e.4affbe8","type":"websocket out","z":"26b815c8.86deda","name":"","server":"7931e703.a221f8","client":"","x":570,"y":780,"wires":[]},{"id":"d1c45292.15071","type":"bigsplitter","z":"26b815c8.86deda","name":"","property":"alarm","x":340,"y":820,"wires":[["342a2f40.982c6","6d664c9d.f04fb4"],[]]},{"id":"5809a4d4.d3b87c","type":"switch","z":"26b815c8.86deda","name":"Context ready","property":"deadband","propertyType":"msg","rules":[{"t":"gt","v":"300000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":820,"wires":[[]]},{"id":"3e7af32f.4a245c","type":"websocket in","z":"26b815c8.86deda","name":"","server":"","client":"45e39965.27c818","x":190,"y":960,"wires":[["6e1a6f02.a8be3"]]},{"id":"6e1a6f02.a8be3","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":920,"wires":[]},{"id":"abd19216.5a2c8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":820,"wires":[]},{"id":"6d664c9d.f04fb4","type":"switch","z":"26b815c8.86deda","name":"","property":"payload.v","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":860,"wires":[["d2cc1eb4.2cd7f","abd19216.5a2c8"],["b49ed5f3.ab5608"]]},{"id":"342a2f40.982c6","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.v","targetType":"msg","x":320,"y":860,"wires":[]},{"id":"8765ca7b.0fbd78","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":760,"y":900,"wires":[["bb0c0826.aa69e8","48840bd4.7df1e4"]]},{"id":"bb0c0826.aa69e8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"alarm","targetType":"msg","x":950,"y":900,"wires":[]},{"id":"b49ed5f3.ab5608","type":"jquerify","z":"26b815c8.86deda","name":"check db first","func":"msg.topic = `\nselect count(id) as 'check'\nfrom alarm\nwhere \n    modul = '${msg.payload.k}'\n    and\n    datetime_start is not null\n    and\n    datetime_end is null\n`\nmsg.alarm = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":900,"wires":[["e68a746f.a64878"]]},{"id":"e68a746f.a64878","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":560,"y":940,"wires":[["4a22e797.196478","e7eae1f1.71ab7","54de4692.28fdb8"]]},{"id":"4a22e797.196478","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].check","targetType":"msg","x":820,"y":980,"wires":[]},{"id":"54de4692.28fdb8","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":940,"wires":[]},{"id":"98690c21.ad226","type":"bigsplitter","z":"26b815c8.86deda","name":"","property":"alarm","x":600,"y":660,"wires":[["3f67d42d.8f4a0c"],[]]},{"id":"3f67d42d.8f4a0c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":660,"wires":[]},{"id":"e7eae1f1.71ab7","type":"switch","z":"26b815c8.86deda","name":"","property":"payload[0].check","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":980,"wires":[["a4567c83.5247d"],[]]},{"id":"48840bd4.7df1e4","type":"switch","z":"26b815c8.86deda","name":"","property":"payload[0].check","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":940,"wires":[["be2a7c50.29782"],["d0e215be.9e88d8"]]},{"id":"6dd2818d.eb759","type":"jquerify","z":"26b815c8.86deda","name":"set context","func":"flow.set(msg.alarm.k, (new Date()).getTime())\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1020,"wires":[["6a476ec1.28501"]]},{"id":"6a476ec1.28501","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1060,"wires":[]},{"id":"2b0ae148.f2d8ce","type":"jquerify","z":"26b815c8.86deda","name":"update datetime_end","func":"msg.topic = `\nupdate alarm\nset\n    datetime_end = '${msg.datetime_end}'\nwhere\n    modul = '${msg.alarm.k}'\n    and\n    datetime_start is not null\n    and\n    datetime_end is null\n`\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1100,"wires":[["627d3e85.b5cb7","77e483f0.449a7c"]]},{"id":"951c9ae4.66ed78","type":"moment","z":"26b815c8.86deda","name":"context_formatted","topic":"","input":"timestamp_end","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"datetime_end","outputType":"msg","outTz":"Asia/Jakarta","x":830,"y":1060,"wires":[["62cb2261.aaf76c","2b0ae148.f2d8ce"]]},{"id":"62cb2261.aaf76c","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":1100,"wires":[]},{"id":"a4567c83.5247d","type":"jquerify","z":"26b815c8.86deda","name":"parsing datetime_end","func":"msg.timestamp_end = flow.get(msg.alarm.k)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1020,"wires":[["951c9ae4.66ed78"]]},{"id":"627d3e85.b5cb7","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":1140,"wires":[]},{"id":"77e483f0.449a7c","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":860,"y":1140,"wires":[[]]},{"id":"be2a7c50.29782","type":"jquerify","z":"26b815c8.86deda","name":"set context","func":"flow.set(msg.alarm.k, (new Date()).getTime())\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[["92f5924e.fe71f"]]},{"id":"92f5924e.fe71f","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":900,"wires":[]},{"id":"d0e215be.9e88d8","type":"jquerify","z":"26b815c8.86deda","name":"parsing datetime_end","func":"msg.timestamp_start = new Date()\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":980,"wires":[["7de05778.11af88"]]},{"id":"7de05778.11af88","type":"moment","z":"26b815c8.86deda","name":"context_formatted","topic":"","input":"timestamp_start","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"0","adjType":"seconds","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"datetime_start","outputType":"msg","outTz":"Asia/Jakarta","x":1150,"y":1020,"wires":[["7934f735.a59718"]]},{"id":"7934f735.a59718","type":"jquerify","z":"26b815c8.86deda","name":"insert modul","func":"msg.topic = `\ninsert into alarm \n    (modul, datetime_start)\nvalues\n    (\n        '${msg.alarm.k}',\n        '${msg.datetime_start}'\n    )\n`\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1060,"wires":[["f8daf0fd.956f2"]]},{"id":"f8daf0fd.956f2","type":"mysql","z":"26b815c8.86deda","mydb":"cbf3e933.cf51e8","name":"","x":1180,"y":1100,"wires":[[]]},{"id":"1d36f0f4.002f8f","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.modul = msg.topic\nmsg.payload = {};\nmsg.payload[msg.topic] = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.pp2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.sdp = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_1 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["44fe6975.d606a8","613d814b.eee31","338a954d.96858a"]]},{"id":"f42f1671.e3cba8","type":"inject","z":"26b815c8.86deda","name":"","topic":"pp2","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":80,"wires":[["1d36f0f4.002f8f"]]},{"id":"d8f7729b.3ff7c","type":"inject","z":"26b815c8.86deda","name":"","topic":"sdp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":80,"wires":[["338a954d.96858a"]]},{"id":"338a954d.96858a","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.modul = msg.topic\nmsg.payload = {};\nmsg.payload[msg.topic] = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.pp2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.sdp = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_1 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[["44fe6975.d606a8","2e9c03b1.b0c6ac"]]},{"id":"613d814b.eee31","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":40,"wires":[]},{"id":"4be90f9c.f76cc","type":"inject","z":"26b815c8.86deda","name":"","topic":"cap_bank_1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":80,"wires":[["bd1ac624.50d6b8"]]},{"id":"bd1ac624.50d6b8","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.modul = msg.topic\nmsg.payload = {};\nmsg.payload[msg.topic] = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.pp2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.sdp = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_1 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":120,"wires":[["44fe6975.d606a8","51663fea.181f2"]]},{"id":"2e9c03b1.b0c6ac","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":40,"wires":[]},{"id":"cf6012b9.fdddb","type":"inject","z":"26b815c8.86deda","name":"","topic":"cap_bank_2","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":80,"wires":[["6ab2bd17.3306e4"]]},{"id":"6ab2bd17.3306e4","type":"jquerify","z":"26b815c8.86deda","name":"for testing purposes","func":"msg.timestamp = new Date();\nmsg.modul = msg.topic\nmsg.payload = {};\nmsg.payload[msg.topic] = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.pp2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.sdp = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_1 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n// msg.payload.cap_bank_2 = (69 + ((Math.random() * 4) - 2)).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":120,"wires":[["44fe6975.d606a8"]]},{"id":"51663fea.181f2","type":"debug","z":"26b815c8.86deda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":40,"wires":[]},{"id":"cb2a5f0c.81fdf","type":"debug","z":"26b815c8.86deda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":280,"wires":[]},{"id":"89b9e377.59ea08","type":"modbus-client","z":"","name":"ioLogic_kikukawa","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"919147aa.b50e58","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/temp","tls":"","wholemsg":"false"},{"id":"cbf3e933.cf51e8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"scada_skf","tz":""},{"id":"96884092.5f7b9","type":"websocket-listener","z":"","path":"/ws/temp","wholemsg":"false"},{"id":"b91637d8.f0dd88","type":"websocket-listener","z":"","path":"/ws/temp_alarm","wholemsg":"false"},{"id":"cc07832a.6881d","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/temp_alarm","tls":"","wholemsg":"false"},{"id":"7931e703.a221f8","type":"websocket-listener","z":"","path":"/ws/fire_alarm","wholemsg":"false"},{"id":"45e39965.27c818","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/fire_alarm","tls":"","wholemsg":"false"}]